<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hommy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fundo">

  </div>
  <div class="infos">
  <div class="card">
    <div class="img">
    <img src="../../assets/madeira.png"/>
    </div>
    <div class="text">
    <ion-card-title class="title">República da Maria</ion-card-title>
    <h1>Quarto disponível...</h1>
    </div>
  </div>

  <div class="card">
    <div class="img">
    <img src="../../assets/casaazul.png"/>
    </div>
    <div class="text">
    <ion-card-title class="title">Casinha</ion-card-title>
    <h1> Quarto compartilhado </h1>
    </div>
  </div>

  <div class="card">
    <div class="img">
    <img src="../../assets/amarelinha.png"/>
    </div>
    <div class="text">
    <ion-card-title class="title">República do Zézinho</ion-card-title>
    <h1> O lar perfeito para você </h1>
    </div>
  </div>
  </div>


      
 
</ion-content>

