<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">
    <div class="card">
      <img class="img" src="../../assets/01.jpg">
      <div class="text">
        <h1>República da Maria</h1>
        <h2>Quarto Individual disponível, contendo cama e mesa para estudos.</h2>
        <h3>750,00</h3>
      </div>
    </div>
    
    <div class="card">
      <img class="img" src="../../assets/casinhaazul.jpg">
      <div class="text">
        <h1>Casinha</h1>
        <h2>Quarto compartilhado, com armário. Sem cama disponível mas cabe uma de solteiro.</h2>
        <h3>300,00</h3>
      </div>
    </div>
    
    <div class="card">
      <img class="img" src="../../assets/blue.jpg">
      <div class="text">
        <h1>República dos Amigos</h1>
        <h2>Quarto individual com banheiro, contendo cama, armário e mesa.</h2>
        <h3>900,00</h3>
      </div>
    </div>
</ion-content>